.app-nav-bar{
    background: #4472c4;
   
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  .mat-sidenav-container{
      height: 80%;
  }
  .mat-drawer-container{
      height: calc(100vh - 56px);
     
     
  }
  .mat-drawer{
      width: 45%;
  }
  .mat-drawer-content{
      padding:0;
  }
  .hamburger{
    background: none;
    border: none;
    color: #fff;
  }